

.Header {
    width: 100%;
    padding-top: 0;
    box-sizing: border-box;
}



.Header button {
    background-color: rgba(250,25,20,.5);
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.Delivery {
    width: 80%;
    margin: 0, 10px;
    float: left;
}